<app-message-panel *ngIf="panelState"></app-message-panel>
<div
  class="container mx-auto p-5 bg-gray-800 rounded-lg h-screen text-mushroomBeige overflow-auto"
>
  <div class="flex items-center justify-between">
    <span>Contact-Messages</span>
  </div>
  <div class="bg-white text-black mt-4 p-2 rounded-lg flex justify-center">
    Messages
  </div>
  @if (messages.length === 0) {
  <div>
    <span class="text-red-700">no Messages there</span>
  </div>
  } @else {
  <div class="flex flex-wrap gap-5 mt-5 justify-center">
    <div
      *ngFor="let message of messages; let i = index"
      class="flex flex-col w-fit items-center bg-gray-600 p-2 rounded-lg"
    >
      <div
        (click)="openPanel(message.id)"
        class="flex flex-col w-fit items-center cursor-pointer hover:bg-gray-800 p-2 rounded-lg mb-1 transition-all duration-300"
      >
        <span>{{ message.name }}</span>
        <span>{{ message.email }}</span>
      </div>
      <div class="flex">
        <svg
          (click)="removeMessage(message.id)"
          class="w-4 mr-2 hover:fill-red-600 cursor-pointer"
          _ngcontent-ng-c3463935298=""
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            _ngcontent-ng-c3463935298=""
            d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
  }
</div>
