<div class="fixed w-screen h-screen top-0 text-white bg-gray-900 opacity-90 overflow-auto">
  <div class="container mx-auto p-5 opacity-100">
    <svg
      (click)="close()"
      class="w-10 cursor-pointer fill-red-700 opacity-90 hover:opacity-100 mb-5 transition-all duration-500 rotate-45"
      _ngcontent-ng-c3463935298=""
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
    >
      <path
        _ngcontent-ng-c3463935298=""
        d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
      ></path>
    </svg>
    <div class="flex flex-col items-center h-full w-full">
      <span>
        <span class="text-mushroomBeige"> Name: </span>
        {{ msg.name }}
      </span>
      <span>
        <span class="text-mushroomBeige"> Email: </span>
        {{ msg.email }}
      </span>
      <span class="text-mushroomBeige">Message</span>
      <span class="w-full text-wrap break-words">
        {{ msg.message }}
      </span>
    </div>
  </div>
</div>
