<div
  class="container mx-auto mt-2 bg-oliveGreen p-5 rounded-md text-mushroomBeige"
>
  <div class="categories">
    <div
      (click)="navigate('pizzas')"
      class="pizza cursor-pointer flex items-center flex-wrap mb-2 p-2 rounded-lg bg-mushroomBeige text-tomatoRed hover:bg-tomatoRed hover:text-mushroomBeige transition-all duration-300"
    >
      <img
        src="https://cache.dominos.com/olo/6.137.4/assets/build/market/EG/_en/images/img/entree-page/specialty.png"
        alt=""
      />
      <span class="text-inherit">Pizzas</span>
    </div>
    <div
      (click)="navigate('sides')"
      class="sides flex items-center flex-wrap cursor-pointer mb-2 p-2 rounded-lg bg-mushroomBeige text-tomatoRed hover:bg-tomatoRed hover:text-mushroomBeige transition-all duration-300"
    >
      <img
        src="https://cache.dominos.com/olo/6.137.4/assets/build/market/EG/_en/images/img/entree-page/sides.png"
        alt=""
      />
      <span>Sides</span>
    </div>
    <div
      (click)="navigate('drinks')"
      class="drinks cursor-pointer flex items-center flex-wrap mb-2 p-2 rounded-lg bg-mushroomBeige text-tomatoRed hover:bg-tomatoRed hover:text-mushroomBeige transition-all duration-300"
    >
      <img
        src="https://cache.dominos.com/olo/6.137.4/assets/build/market/EG/_en/images/img/entree-page/drinks.png"
        alt=""
      />
      <span>Drinks</span>
    </div>
    <div
      (click)="navigate('deserts')"
      class="deserts cursor-pointer flex items-center flex-wrap mb-2 p-2 rounded-lg bg-mushroomBeige text-tomatoRed hover:bg-tomatoRed hover:text-mushroomBeige transition-all duration-300"
    >
      <img
        src="https://cache.dominos.com/olo/6.137.4/assets/build/market/EG/_en/images/img/entree-page/dessert.png"
        alt=""
      />
      <span>Deserts</span>
    </div>
    <div
      (click)="navigate('extras')"
      class="extras cursor-pointer flex items-center flex-wrap mb-2 p-2 rounded-lg bg-mushroomBeige text-tomatoRed hover:bg-tomatoRed hover:text-mushroomBeige transition-all duration-300"
    >
      <img
        src="https://cache.dominos.com/olo/6.137.4/assets/build/market/EG/_en/images/img/entree-page/extras.png"
        alt=""
      />
      <span>Extras</span>
    </div>
  </div>
</div>
